#### Decision Trees

###### A supervised machine learning technique in which data is continually segemented based on a parameter

###### Algorithm Steps
- ###### Choose dataset feature
- ###### Determine feature's importance on segmenting datasets
- ###### Choose best attribute
- ###### Repeat above steps

In [4]:
# Entropy
# Measure of randomness in dataset

In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [7]:
columns = ['company', 'job', 'degree', 'salary_more_than_100k']
data = pd.read_csv('salaries.csv')
data.head()

  company                  job      degree  salary_more_then_100k
0  google        sale exective  bachelaors                      0
1  google        sale exective     masters                      0
2  google     business manager  bachelaors                      1
3  google     business manager     masters                      1
4  google  computer programmer  bachelaors                      0

In [8]:
features = ['company', 'job', 'degree']
X = data[features]
y = data['salary_more_then_100k']

In [9]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
# Encode labels
data['company'] = label_encoder.fit_transform(data['company'])
data['job'] = label_encoder.fit_transform(data['job'])
data['degree'] = label_encoder.fit_transform(data['degree'])

In [10]:
data.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [11]:
# Split the dataset in features and target variable
features = ['company', 'job', 'degree']
# X = data.values[1:3]
X = data[features]
# y = data.values[1:, 3]
y = data['salary_more_then_100k']

In [12]:
X

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [13]:
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [24]:
# Decision tree classifier object using entropy
clf_entropy = DecisionTreeClassifier(criterion='entropy', max_depth=3)

# Train Decision Tree Classifier
clf_entropy = clf_entropy.fit(X_train, y_train)

In [25]:
# Predict test dataset result
y_pred = clf_entropy.predict(X_test)

print(f"Accuracy: {metrics.accuracy_score(y_true=y_test, y_pred=y_pred) * 100}%")

Accuracy: 50.0%